:root,
page {
  // 主色调
  --theme-primary: #2855B3;
  --theme-success: #3ed268;
  --theme-warning: #fe9831;
  --theme-error: #fa4e62;

  // 文字颜色
  --theme-main-color: #333333;
  --theme-content-color: #666666;
  --theme-tips-color: #7e869a;
  --theme-light-color: #bdc3d2;
  --theme-disabled-color: #dce0eb;

  // 背景颜色
  --theme-bg-color: #ffffff;
  --theme-bg-color-secondary: #f8f9fa;
  --theme-bg-page-color: #F5F8FA;

  // 边框颜色
  --theme-border-color: #e9ecef;
}