/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

@import 'uview-plus/theme.scss';
@import '~/styles/theme.scss';

/* 颜色变量 */

/* 行为相关颜色 */
$u-primary: var(--theme-primary);
$u-success: var(--theme-success);
$u-warning: var(--theme-warning);
$u-error: var(--theme-error);

/* 文字基本颜色 */
$u-main-color: var(--theme-main-color); // 基本色
$u-content-color: var(--theme-content-color); // 反色
$u-tips-color: var(--theme-tips-color); // 辅助灰色，如加载更多的提示信息
$u-light-color: var(--theme-light-color);
$u-disabled-color: var(--theme-disabled-color);

/* 背景颜色 */
$u-bg-color: var(--theme-bg-color);
$u-bg-color-grey: var(--theme-bg-color-secondary);

/* 边框颜色 */
$u-border-color: var(--theme-border-color);

/* 文章场景相关 */
$uni-color-title: #2c405a; // 文章标题颜色
$uni-font-size-title: 20px;
$uni-color-subtitle: #555; // 二级标题颜色
$uni-font-size-subtitle: 18px;
$uni-color-paragraph: #3f536e; // 文章段落颜色
$uni-font-size-paragraph: 15px;